/* 본문 배경이미지 및 그라디언트 */
body {
  background-image: url(/src/assets/webcafe/bg_flower.png), linear-gradient(#ccc 0%, #eee 60%, #fff 70%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

/* 컨테이너 - auto 마진과 float 레이아웃 */
.container {
  --size: 940px;

  min-width: calc(var(--size) + 20px);

  .header,
  .visual,
  .main,
  .slogan,
  .footer {
    width: var(--size);
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    padding: 28px 16px;
    display: flow-root;
    min-height: 450px;

    .group {
      float: left;
      height: 100%;

      &:nth-child(n + 2) {
        margin-left: 44px;
      }
    }

    .group1 {
      width: 250px;
    }

    .group2 {
      width: 380px;
    }

    .group3 {
      width: 190px;
    }
  }

  .footer-container {
    width: 100%;
  }
}

/* 헤더 */
.header {
  background: var(--white);
  padding: 8px 30px 20px;
  display: grid;
  grid-template-columns: 205px repeat(6, 1fr);
  grid-template-rows: 38px auto 30px;
  border-radius: 0 0 15px 15px;

  .brand {
    grid-area: 2 / 1 / 4 / 2;
    z-index: 10;
    place-self: center;
  }

  .lnb {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: -0.02em;

    a {
      padding: 4px;
    }

    span {
      margin: 0 4px;
    }
  }

  .navigation {
    background-color: var(--primary);
    grid-area: 2 / 1 / 4 / -1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    border-radius: 5px;

    .tabs,
    [role="tablist"] {
      display: contents;
    }

    [role="tablist"] {
      button:nth-child(1) {
        grid-column: 2;
      }

      button {
        border: 0;
        background: transparent;
        padding: 15px 0;
        color: var(--white);
        font-weight: 700;
        font-size: 1rem;
        text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;

        &:focus-visible {
          box-shadow: none;
        }

        &:hover {
          color: var(--accent-yellow);
        }
      }

      [aria-selected="true"] {
        color: var(--accent-yellow);
      }
    }

    [role="tabpanel"] {
      grid-column: 2/ -1;
      padding: 6px 0 4px;
      background-color: rgb(248, 135, 5);
      border-radius: 5px;

      &.is-hidden {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
        color: var(--white);
        justify-content: center;
      }
    }
  }
}

/* 비주얼 */
.visual {
  position: relative;
  height: 120px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url(/src/assets/webcafe/ani_flower_01.png), url(/src/assets/webcafe/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
  }

  &::after {
    background-image: url(/src/assets/webcafe/ani_flower_03.png), url(/src/assets/webcafe/ani_flower_04.png);
    background-position: 300px 0, 800px 15px;
  }
}

/* 로그인 */
.login {
  --start: var(--secondary);
  --end: var(--primary);
  --shadow: var(--gray-500);

  background-color: var(--end);
  background-image: radial-gradient(circle at right top, var(--start), var(--end));
  box-shadow: 5px 5px 0 0 var(--shadow);
  border-radius: 5px;
  padding: 12px;

  h2 {
    margin-bottom: 8px;
  }

  .login-wrapper {
    background-color: var(--white);
    border-radius: 5px;
    padding: 8px 8px 4px 8px;
  }

  form {
    padding-right: 58px;
    position: relative;

    .input:first-child {
      margin-bottom: 4px;
    }

    label {
      width: 4em;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
    }
  }

  hr {
    margin: 10px 0 4px;
    border-top: 1px solid var(--shadow);
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      gap: 4px;
      align-items: center;
      font-size: 0.8125rem;
      line-height: 1.5;
      letter-spacing: -0.02em;
    }

    span {
      color: var(--primary);
    }

    a {
      padding: 4px 0;
    }
  }
}

/* 유효성 검사 배너 링크 */
.validation {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .gradient {
    --size: 38px;
    --icon-size: 16px;

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}

/* 웹 관련 용어 */
.term {
  margin-top: 20px;

  h2 {
    margin-bottom: 16px;
  }

  .card {
    margin-top: 12px;
  }
}

/* 검색 폼 */
.search {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 12px 24px 8px;
  border-bottom: 0;

  form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .input {
      display: contents;
    }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
    }

    .button {
      flex: 0 0 auto;
    }
  }
}
