/* 컨테이너 - auto 마진과 float 레이아웃 */
.container {
  --size: 940px;

  min-width: calc(var(--size) + 20px);
  min-inline-size: calc(var(--size) + 20px);

  .header,
  .visual,
  .main,
  .slogan,
  .footer {
    width: var(--size);
    inline-size: var(--size);
    margin-left: auto;
    margin-right: auto;
    margin-inline: auto;
  }

  .main {
    padding: 28px 16px;
    display: flow-root;
    min-height: 450px;
    block-size: 450px;

    .group {
      float: left;
      height: 100%;
      block-size: 100%;

      &:nth-child(n + 2) {
        margin-left: 44px;
        margin-inline-start: 44px;
      }
    }

    .group1 {
      width: 250px;
      inline-size: 250px;
    }

    .group2 {
      width: 380px;
      inline-size: 380px;
    }

    .group3 {
      width: 190px;
      inline-size: 190px;
    }
  }

  .footer-container {
    width: 100%;
    inline-size: 100%;
  }
}

/* 로그인 */
.login {
  --start: var(--secondary);
  --end: var(--primary);
  --shadow: var(--gray-500);

  background-color: var(--end);
  background-image: radial-gradient(circle at right top, var(--start), var(--end));
  box-shadow: 5px 5px 0 0 var(--shadow);
  border-radius: 5px;
  padding: 12px;

  h2 {
    margin-bottom: 8px;
  }

  .login-wrapper {
    background-color: var(--white);
    border-radius: 5px;
    padding: 8px 8px 4px 8px;
  }

  form {
    padding-right: 58px;
    position: relative;

    .input:first-child {
      margin-bottom: 4px;
    }

    label {
      width: 4em;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
    }
  }

  hr {
    margin: 10px 0 4px;
    border-top: 1px solid var(--shadow);
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      gap: 4px;
      align-items: center;
      font-size: 0.8125rem;
      line-height: 1.5;
      letter-spacing: -0.02em;
    }

    span {
      color: var(--primary);
    }

    a {
      padding: 4px 0;
    }
  }
}

/* 유효성 검사 배너 링크 */
.validation {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .gradient {
    --size: 38px;
    --icon-size: 16px;

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}
