/* 그라다인트 배경 스타일링 */
.gradient-styling {
  --start: var(--gray-500);
  --end: var(--gray-200);
  --spacing: 16px;
  --angle: 180deg;

  border: 1px solid var(--gray-600);
  border-radius: 5px;
  padding: var(--spacing);
  background-color: var(--end);
  background-image: linear-gradient(var(--angle), var(--start), var(--end));
}
