.button {
  --text-size: 0.8125rem;

  background-color: var(--content);
  color: var(--white);
  border: 0;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: var(--text-size);
  line-height: 1.5;
  letter-spacing: -0.02em;
  display: inline-flex;
  align-items: center;

  &.primary {
    background-color: var(--primary);

    &:focus-visible {
      --ring-color: var(--accent-green);
    }
  }
}

.gradient {
  --start: var(--gray-400);
  --end: var(--gray-500);
  --angle: 180deg;
  --size: 24px;
  --icon-size: 12px;

  display: inline-flex;
  align-items: center;
  padding: 0 calc(var(--size) / 2);
  height: var(--size);
  background-color: var(--end);
  background-image: linear-gradient(var(--angle), var(--start), var(--end));
  border-radius: calc(var(--size) / 2);
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: -0.02em;

  &.icon {
    background-image: url(/src/assets/webcafe/validation_icon.png), linear-gradient(var(--angle), var(--start), var(--end));
    background-repeat: no-repeat, repeat;
    background-position: calc(var(--icon-size) / 2 + 4px) 50%, 0 0;
    padding-left: calc(var(--icon-size) * 2);
    background-size: var(--icon-size), 100%;
  }
}
