/* 기본 글자 크기 */
html{
  font-size: 0.625em;
}

/* 본문 스타일 */
body {
  --bg: var(--grayscale-white);
  --fg: var(--grayscale-black);

  font-size: 1.6rem;
  line-height: 1.15;
  font-family: 'SUIT Variable', sans-serif;
  color: var(--fg);
  background-color: var(--bg);
}

/* 하이퍼링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}

/* 숨김 콘텐츠 */
.a11yHidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border-width: 0;
  white-space: nowrap;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
}

/* form 스타일 */
button, select, textarea, input{
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  
  &:disabled {
    cursor: not-allowed;
  }
}

address{
  font-style: normal;
}








