/* 공통 컨테이너 */
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

 /* 공통 헤더 */
 .header {
  background: rgba(255,255,255, 0.85);
  inline-size: 100%;
  
  & .header__inner{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}


/* 공통 로고 */
.logo {
  margin-inline-end: auto;
}

.logo__link {
  display: block;
  inline-size: 14rem;
}


/* 모바일 스타일 */
@media (max-width: 768px) {
  .header__inner{
    margin-inline-start: 2rem;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--prrmary-blue-6);
    /* transform: translateX(-120%); */
    translate: -120% 0;
    transition: all 0.2s;
  }

  .menu.is--active{
    translate: 0 0;
  }

  .header .button--none{
    background: transparent;
    border: 0;
    padding: 0;
  }

  .header .button--burger{
    background-image: url("./../images/button-navigation.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    inline-size: 5rem;
    aspect-ratio: 1/1;
    transition: all 0.2s;
    
    &:hover{
      background-color: var(--grayscale-snow);
    }

    &:focus{
      background-color: var(--grayscale-snow);
    }
  }

}

/* 데스크탑 스타일 */
@media (min-width: 768px) {
  .header .button--burger, .header .button--close  {
    display: none;
  }

  /* 데스크탑 헤더 */
  .header{
    position: sticky;
    top: 0;
    padding: var(--spacing-2xl) 0;
    box-shadow: var(--shadow-type-2);
  }

  .header__inner {
    inline-size: clamp(74rem, 80%, 120rem);
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  /* 데스크탑 내비게이션 */
  .menu {
    display: flow-root;
  }

  .menu__item {
    float: left;
    margin-inline-start: 0.8rem;
  }

  /* 데스크탑 푸터 */
  .footer {
    background: #000;
    color: #fff;
    inline-size: 100%;
  }
}