/* 공통 스타일 */
/* 버튼 스타일 제거 */
.button--none{
  background: transparent;
  border: 0;
  padding: 0;
}

/* 햄버거 버튼 */
.button--burger{
  background-image: url("./../images/button-navigation.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  inline-size: 5rem;
  aspect-ratio: 1/1;
  transition: all 0.2s;
  
  &:hover{
    background-color: var(--grayscale-snow);
  }

  &:focus{
    background-color: var(--grayscale-snow);
  }
}

/* 닫기 버튼 */



/* 공통 컨테이너 */
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* 공통 헤더 */
.header {
  background: rgba(255,255,255, 0.85);
  inline-size: 100%;

  & .header__inner{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

/* 모바일 헤더 */
@media (max-width) {
  .header__inner{
    margin-inline-start: 2rem;
  }
}

/* 데스크탑 헤더 */
@media (min-width) {
  .header{
    position: sticky;
    top: 0;
    padding: var(--spacing-2xl) 0;
    box-shadow: var(--shadow-type-2);
  }

  .header__inner {
    inline-size: clamp(74rem, 80%, 120rem);
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}

/* 공통 로고 */
.logo {
  margin-inline-end: auto;
}

.logo__link {
  display: block;
  inline-size: 14rem;
}

/* 내비게이션 */
/* 모바일 내비게이션 */
@media (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-blue-6);
    color: #fff;
    translate: -120% 0;
    transition: all 0.2s;
    backdrop-filter: blur(2px);
    display: grid;
    grid-template-rows: 10rem auto;
    grid-template-columns: 1fr;
    grid-template-areas: "close" "menu";
  }

  .navigation.is--active{
    translate: 0 0;
  }

  .menu{
    grid-area: menu;
    font-size: 1.4rem;
    line-height: 3;
    letter-spacing: -0.02em;
    padding: 0 2rem;
  }

  .menu__item{
    border-top: 1px solid var(--primary-blue-4);
  }
  
  .menu__link{
    display: block;
    padding-inline-start: 3.6rem;
    margin: 0 -2rem;
  }
  
  .menu__link:hover, .menu__link:focus{
    background: var(--scondary-violet-4);
  }

  .navigation .button--close{
    grid-area: close;
    align-self: start;
    justify-self: end;
    padding: 1.2rem;
    margin: 1.6rem;

    &:hover{
      scale: 1.5;
    }

    &:focus{
      scale: 1.5;
    }
  }
}

/* 데스크탑 내비게이션 */
@media (min-width: 768px) {
  .menu {
    display: flow-root;
  }

  .menu__item {
    float: left;
    margin-inline-start: 0.8rem;
  }
}

/* 데스크탑 햄버거 버튼 및 닫기 버튼 */
@media (min-width: 768) {
  .header .button--burger, .header .button--close  {
    display: none;
  }
}

/* 공통 푸터 */
.footer {
  background: #000;
  color: #fff;
  inline-size: 100%;
}

/* 모바일 푸터 */
@media (max-width: 768px) {
  .footer{
   
  }
}

/* 데스크탑 푸터 */
@media (min-width: 768px) {
  .footer{

  }
}









/* ================================ */
/* 모바일 */
@media (max-width: 768px) {

}

/* 데스크탑 */
@media (min-width: 768px) {

}
/* ================================ */