/* 공통 newMenu__description */
.newMenu__description{
 background: #BAE5FB;
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
 text-align: center;
 padding-inline: 2rem;

 & .divider{
  inline-size: 4rem;
 }

 & p{
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.1;

    &:nth-of-type(2){
      font-size: 1.4rem;
      line-height: 1.5;
      font-weight: 400;
    }
  }

  & em{
    color: var(--primary-blue-1);
    font-weight: 700;
  }
}

/* 모바일 newMenu__description */
@media (max-width: 768px) {
  .newMenu__description{
    padding-block: 4.2rem 2.1rem;
    row-gap: 1.5rem;

    & em{
      display: block;
    }
  }
}

/* 데스크탑 newMenu__description */
@media (min-width: 768px) {
  .newMenu__description{
    padding-block:5rem 3rem;
    row-gap: 3rem;

    & p[lang="en"]{
      font-size: 3.1rem;
    }

    & em{
      margin-inline-start: 1.5rem;
    }
  }
}

/* 공통 newMenu__list */
.newMenu__list{
  display: grid;
}

.newMenu__item{
  inline-size: 50%;
  max-inline-size: 30rem;
  position: relative;

  & img{
    animation: bounce 2000ms infinite alternate ease-in-out both;
  }
}

.itemChocoRice img{
  animation-delay: 1000ms;
}

.newMenu__Name{

  & div{
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
  }
}

.newMenu__cheese, .newMenu__choco, .newMenu__rice{
  position: absolute;
}

.newMenu__choco{
  left: 0;
  bottom: 0;
  translate: -100% 0;
}

.newMenu__rice{
  right: 0;
  top: 0;
  translate: 70% 100%;
}


/* 모바일 newMenu__list */
@media (max-width: 768px) {
  .newMenu__list{
   grid-template-columns: 1fr;
   
   & .newMenu__item{
    justify-self: center;
   }
  }

  .itemCheese{
    display: none;
  }
}

/* 데스크탑 newMenu__list */
@media (min-width: 768px) {
  .newMenu__list{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20rem;
  }

  .itemCheese{
    justify-self: end;
    translate: 0 -50%;
  }

  .itemChocoRice{
    translate: 0 -10%;
  }

  .newMenu__cheese{
    left: 0;
    bottom: 0;
    translate: 0 -100%;
  }

  .newMenu__choco{
    translate: -100% -200%;
  }
  
  .newMenu__rice{
    right: 0;
    top: 0;
    translate: 50% 130%;
  }
  
}

/* 공통 홍보영상, 공지사항, 새소식 */
.info{
  display: flex;
  flex-wrap: nowrap;
}

.youtube{
  background: yellow;
}

.notice{
  background: pink;
}

.news{
  background: skyblue;
}

/* 모바일 공통 홍보영상, 공지사항, 새소식 */
@media (max-width: 768px) {
  .info__inner{
    inline-size: 100%;
  }
}

/* 데스크탑 공통 홍보영상, 공지사항, 새소식 */
@media (min-width: 768px) {
  .info{
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .info__inner{
      display: flex;
      flex-flow: row nowrap;
    }
  }

  .youtube{
    inline-size: 41rem;
  }

  .notice, .news{
    inline-size: 35.5rem;
  }
}