@import "./reset.css";
@import "./theme.css";

/* 본문 스타일 */
body {
  background-color: var(--white);
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-weight: 300;
  margin: 0;
  color: var(-content);
}

/* 레이아웃 */
.container {
  background-color: var(--yellow);
}

.layout {
  inline-size: 940px;
  margin-inline: auto;
}

.header {
  background-color: pink;
  block-size: 10vh;
}

.visual {
  background-color: orange;
  height: 10vh;
}

/* float layout */
.main {
  background-color: skyblue;
  display: flow-root;
  padding: 30px 15px;
  min-height: 450px;
}

.group {
  float: left;
  margin-inline: 15px;
}

.group1 {
  background-color: tomato;
  width: 250px;
}

.group2 {
  background-color: violet;
  width: 380px;
}

.group3 {
  background-color: teal;
  width: 190px;
}

.slogan {
  background-color: lightgreen;
  height: 10vh;
}

.footer {
  background-color: silver;
  height: 10vh;
}
