@import "./reset.css";
@import "./theme.css";
@import "./base.css";
@import "./utils.css";
@import "./animation.css";
@import "./components.css";

/* 레이아웃 */
.container {
  background:
  url(./../assets/bg_flower.png) no-repeat 50% 0,
  linear-gradient(#ccc 0%, #eee 35%, #fff 60%, #fff 100%),
  #ccc;
}

/* 헤더 */
.header {
  background-color: var(--white);
  position: relative;
  padding-inline: 30px;
  border-radius: 0 0 15px 15px;
}

/* 로고 */
.logo {
  background-color: rgba(255, 0, 0, 0.2);
  position: absolute;
  top: 38px;
  left: 60px;
  z-index: 1;
}

/* 텍스트 링크 모음 - 멤버 서비스 */
.member-service {
  font-size: 0;
  text-align: end;
  padding: 8px;
  translate: 12px 0;

  li {
    display: inline-block;
    font-size: 0.875rem;

    span{
      margin-inline: 0.5em;
    }

    a{
      text-transform: uppercase;
      padding: 4px;
    }
  }
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}

.menu{
  background: var(--orangered) var(--menu);
  box-shadow: 0 -2px 0 0 var(--black);
  height: 45px;
  padding-left: 225px;
  
  > li{
    float: left;
    height: inherit;
    position: relative;

    .menu-button{
      color: var(--white);
      font-size: 0.9375rem;
      font-weight: 700;
      background: transparent;
      padding: 0 23px;
      height: 100%;
      line-height: 45px;
      display: block;
      border: 0;
      border-left: 2px solid var(--white);
      align-content: center;
      text-shadow: 1px 1px 2px var(--black), -1px -1px 2px var(--black);
    } 
  }
  
  > li.is-active{
    .menu-button{
      color: var(--yellow);
    }

    .menu-button::after{
      content: "";
      display: block;
      border-top: 2px solid var(--black);
    }

    .sub-menu{
      display: block;
    }
  }

  > li:nth-child(n+4) .sub-menu{
    right: 0; 
  }

  .sub-menu{
    position: absolute;
    top: 47px;
    display: none;
    white-space: nowrap;

    li{
      display: inline-block;
      margin-right: 0.5em;
    }

    a{
      display: inline-block;
      padding: 0.5em;
    }

    span{
      margin-right: 0.5em;
    }
  }




}

/* 비주얼 */
.visual {
  height: 120px;
  position: relative;
  isolation: isolate;

  &::before, &::after{
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    z-index: -1;
    animation: fadeEffect 2s infinite alternate;
  }

  &::before{
    background-image: url(./../assets/ani_flower_01.png), url(./../assets/ani_flower_02.png); 
    background-position: 0 -10px, 670px 0;
  }

  &::after{
    background-image: url(./../assets/ani_flower_03.png), url(./../assets/ani_flower_04.png); 
    background-position: 300px 10px, 800px 15px;
    animation-delay: 1s;
  }

  p{
    display: inline-block;
    color: rgba(0,0,0,0);
    animation-name: moveEffect;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

/* 메인 콘텐츠 */
.main {
  background-color: var(--white);
  min-height: 450px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px;
  border-radius: 15px 15px 0 0;
}

.group {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* 로그인 */
.login{
  --spacing: 10px; 

  background: radial-gradient(circle at right top, var(--orange), var(--orangered));
  border-radius: 5px;
  padding: 15px;

  .headline{
    color: var(--yellow);
  }

  .login-form, .login-member{
    background-color: var(--white);
  }

  .login-form{
    margin-top: var(--spacing);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
    padding: var(--spacing) var(--spacing) 0 var(--spacing);
    position: relative;

    .form-input{
      width: 145px;
    }

    .button-fill{
      width: 50px;
      aspect-ratio: 1/1;
      position: absolute;
      top: var(--spacing);
      right: var(--spacing);
    }
  }

  .divider{
    height: 21px;
    background-color: var(--white);
    border: 0;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top:50%;
      left: var(--spacing);
      width: calc(100% - var(--spacing) * 2); 
      height: 1px;
      background-color: var(--border-color);
    }
  }

  .login-member{
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
    letter-spacing: -0.05em;
  }
}

/* 유효성 검사 배너 */
.validation{
  ul{ 
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }

  a{
    display: block;
    background: url(./../assets/validation_icon.png) no-repeat 18px 50%, 
    linear-gradient(var(--gray-600), var(--gray-400));
    padding: 10px 10px 10px 45px;
    border-radius: 50px;
    border: 1px solid var(--gray-600)
  }
}

/* 웹 관련 용어 */
.term{
  border: 1px solid var(--gray-700);
  border-radius: 5px;
  background: var(--gray-400) linear-gradient(var(--gray-600), var(--gray-400));
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  .headline{
    margin-bottom: 5px;
  }

  dl{
    display: contents;
  }

  dl div:nth-child(even){
    dt{
      float: left;
    }

    dd:nth-of-type(1){
      float: right;
    }

    dd:nth-of-type(2){
      float: left;
    }
  }

  dt{
    width: 140px;
    float: right;
    font-weight: 500;
    color: var(--blue);
    margin-bottom: 5px;
  }

  div dd:nth-of-type(1){
    float: left;
  }

  div dd:nth-of-type(2){
    width: 140px;
    float: right;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.slogan {
  background-color: lightgreen;
  height: 10vh;
}

.footer {
  background-color: silver;
  height: 10vh;
}
