/* 컨테이너 크기 */
.max-size {
  inline-size: 940px;
  margin-inline: auto;
}

/* 숨김 콘텐츠 */
.sr-only{
  background-color: red;
  color: white;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 그라디언트 배경 */
.gradient-bg{
  border: 1px solid var(--gray-700);
  background: var(--gray-400) linear-gradient(var(--gray-600), var(--gray-400));
}